body {
    font-family: Arial, sans-serif;
    background-color: #ffcc66; /* Color de fondo naranja calabaza */
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    background-color: #007acc;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.seccion {
    padding: 20px;
    margin: 20px 0;
}

h2 {
    text-align: center;
}

.tarjetas-profesores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tarjeta {
    background-color: #ffffff;
    padding: 15px;
    margin: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-tareas {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table-tareas th, .table-tareas td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

button {
    background-color: #007acc;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005f99;
}

textarea, input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}
